html,
body {
  height: 100%;
  text-align: center;
  font-family: "Roboto", "Microsoft JhengHei", "微軟正黑體", sans-serif;
  background-color: rgb(253, 196, 122);
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

img {
  object-fit: contain;
  max-width: 100%;
}

.primary-image {
  width: 350px;
  border-radius: 20px;
}

.images {
  height: 150px;
  border-radius: 20px;
}
.light-coffee-bg {
  background-color: #f7ece3;
}
.dark-coffee-text {
  color: rgb(147, 81, 15);
}
.dark-coffee-bg {
  background-color: peru;
}
